.title {
  display: block;
  padding: 0;
  font-size: 40px;
  line-height: 100%;
  color: $color-night-rider;

  @include font-prata-regular;

  @include tablet {
    font-size: 30px;
  }

  @include mobile {
    font-size: 25px;
  }

  &--goods-title {
    font-size: 32px;
  }
}

