.accessories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;

  &__item:not(:last-child) {
    margin: 0 28px 0 0;
  }

  &__item {
    position: relative;

    span {
      position: absolute;
      top: -8px;
      right: -12px;
    }
  }

  &__link {
    transition: opacity $trans-default;

    &:hover {
      opacity: 0.3;
      transition: opacity $trans-default;
    }
  }
}
