.accessories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;

  &__item:not(:last-child) {
    margin: 0 28px 0 0;
  }

  &__item {
    position: relative;

    span {
      position: absolute;
      top: -8px;
      right: -12px;
    }
  }
}
