.hit {
  width: 100%;
  margin: 0 0 120px;

  @include tablet {
    margin: 0 0 80px;
  }

  @include mobile {
    margin: 0 0 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px;
  }

  &__title {
    margin: 0;
  }
}