.phone {
  display: flex;
  align-items: center;

  &__link {
    transition: opacity $trans-default;

    &:hover {
      opacity: 0.3;
      transition: opacity $trans-default;
    }
  }

  svg {
    margin: 0 10px 0 0;
  }
}
