.promo {
  width: 100%;
  margin: 0 0 120px;

  @include tablet {
    margin: 0 0 80px;
  }

  @include mobile {
    margin: 0 0 40px;
  }

  &__container {
    position: relative;
    background-color: $color-white-smoke2;
    padding: 24px;

    @include tablet {
      padding: 24px 18px;
    }

    @include mobile {
      padding: 12px 7px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-image: url("../img/svg/deco-diamond.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      width: 833px;
      height: 643px;
      top: 0;
      left: -123px;
      z-index: -1;
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    margin: -23px 0 0 0;

    &--prev {
      left: 24px;

      @include tablet {
        left: 18px;
      }

      @include mobile {
        left: 8px;
      }
    }

    &--next {
      right: 24px;

      @include tablet {
        right: 18px;
      }

      @include mobile {
        right: 8px;
      }
    }
  }
}

.promo__container .swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;

  @include mobile {
    bottom: 13px;
  }
}

.promo__container .swiper-pagination span:first-child {
  margin: 0 8px 0 0;
}

.promo__container .swiper-pagination span:last-child {
  margin: 0 0 0 8px;
}

.promo__container .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $color-night-rider;
  transition: transform $trans-default;

  &:hover {
    transform: scale(1.2);
    transition: transform $trans-default;
  }
}

.promo__container .swiper-pagination-bullet-active {
  background-color: $color-night-rider;
}
