.search {
  display: flex;
  align-items: center;
  padding: 25px 0 25px 26px;
  border-left: 1px solid $color-white-smoke;

  @media (max-width: 1215px) {
    padding: 15px 0 15px 16px;
  }

  @include tablet {
    width: 25%;
  }

  @include mobile {
    border-left: none;
    border-bottom: 1px solid $color-gainsboro;
    padding: 15px;
    width: 100%;
  }

  svg {
    width: 16px;
    height: 16px;
    margin: 0 15px 0 0;

    @include tablet {
      margin: 0 8px 0 0;
    }
  }

  input {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    @include tablet {
      width: 100%;
    }
  }
}