.button {
  cursor: pointer;
  border: none;
  background-color: $color-night-rider;
  color: $color-default-white;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 21px 0;
  transition: opacity $trans-default, background-color $trans-default,
    color $trans-default;

  @include font-inter-medium;

  @include mobile {
    padding: 12px 0;
  }

  &:hover {
    background-color: $color-matterhorn;
    transition: all $trans-default;
  }

  &:active {
    background-color: $color-default-black;
    transition: background-color $trans-default;
  }

  &--one-click {
    background-color: transparent;
    border: 1px solid $color-night-rider;
    color: $color-night-rider;

    &:hover {
      background-color: $color-night-rider;
      color: $color-default-white;
    }

    &:active {
      background-color: $color-default-black;
    }
  }

  &--slider {
    background-color: transparent;
    padding: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid $color-night-rider;
    color: $color-night-rider;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 40px;
      height: 40px;
    }

    svg {
      width: 17px;
      height: 8px;
      transform: translateX(0);
      transition: transform $trans-default;

      @include mobile {
        width: 15px;
        height: 6px;
      }
    }

    &:hover {
      background-color: $color-white-smoke3;
    }
  }

  &--slider-prev {
    &:active {
      svg {
        transform: translateX(-10px);
      }
    }
  }

  &--slider-next {
    &:active {
      svg {
        transform: translateX(10px);
      }
    }
  }

  &--slider-hit {
    background-color: transparent;
    width: 10px;
    height: 10px;
    padding: 0;
    color: $color-night-rider;
    transition: opacity $trans-default;

    &:hover {
      background-color: transparent;
      opacity: 0.3;
      transition: opacity $trans-default;
    }
  }

  &--burger {
    width: 32px;
    height: 11px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: $color-night-rider;
    transition: opacity $trans-default;

    svg {
      width: 32px;
      height: 11px;
    }

    &:hover {
      background-color: transparent;
      opacity: 0.3;
      transition: opacity $trans-default;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}
