.goods-info {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 0 20px;
  }

  &__vendor-code {
    font-size: 14px;
    color: $color-suva-grey;
    margin: 0 0 2px;

    @include tablet {
      margin: 0 0 10px;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    padding: 0 0 31px;
    margin: 0 0 30px;
    border-bottom: 1px solid $color-white-smoke;

    @media (max-width: 1238px) {
      padding: 0 0 21px;
      margin: 0 0 20px;
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__color {
    margin: 0 0 30px;

    @media (max-width: 1238px) {
      margin: 0 0 20px;
    }

    @include mobile {
      margin: 0 0 10px;
    }
  }

  &__measures {
    margin: 0 0 40px;

    @media (max-width: 1238px) {
      margin: 0 0 10px;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 0.52fr;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 39px;
  }

  &__accessory {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }

  &__rate {
    margin: 0 0 24px;

    @include tablet {
      margin: 0 0 15px;
    }
  }
}

.goods-info__price .price-discount {
  margin: 0 36px 0 0;

  @include tablet {
    margin: 0 0 15px 0;
  }
}

.goods-info__price .price-discount__price-now {
  margin: 0 16px 0 0;
}

.goods-info__price .price-discount__price-old {
  margin: 0 16px 0 0;
}

.goods-info__price .price-discount__marker-discount {
  margin: 0;
}
