.hit-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  &__picture {
    display: flex;
    flex-direction: column;
  }

  &__markers {
    padding: 0;
    margin: 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__markers-item:not(:last-child) {
    margin: 0 4px 0 0;
  }

  &__picture-wrapper {
    display: flex;
    align-items: center;
  }
}