.hit-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @media (max-width: 1328px) {
    grid-template-columns: 1fr 0.7fr;
    grid-column-gap: 10px;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  &__picture {
    display: flex;
    flex-direction: column;
  }

  &__markers {
    padding: 0;
    margin: 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include tablet {
      margin: 0 0 97px;
    }
  }

  &__markers-item:not(:last-child) {
    margin: 0 4px 0 0;
  }

  &__picture-wrapper {
    display: flex;
    align-items: center;

    @include mobile {
      align-self: center;
    }

    img {
      @include tablet {
        width: 350px;
        height: 350px;
      }
    }
  }
}
