.price-discount {
  display: flex;
  align-items: center;

  &__price-now {
    display: block;
    margin: 0 8px 0 0;
    padding: 0;
    font-size: 18px;

    @include font-inter-semibold;
  }

  &__price-old {
    font-size: 14px;
    text-decoration-line: line-through;
    color: $color-suva-grey;
  }

  &__marker-discount {
    margin: 0 0 0 auto;
  }
}
