.sale-card {
  background-color: $color-default-white;
  border: 1px solid $color-white-smoke;
  transition: box-shadow $trans-default;

  &__link {
    cursor: default;
    padding: 16px 24px 26px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__marker-sale {
    position: absolute;
    top: 16px;
    left: 24px;
  }

  &__tools {
    z-index: 6;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 24px;
  }

  picture {
    align-self: center;
  }

  &__bullets {
    z-index: 6;
    cursor: pointer;
    margin: -8px 0 32px;
    align-self: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__price {
    margin: 0 0 16px;
  }

  // &__marker-discount {
  //   margin: 0 0 0 auto;
  // }

  // &__price-now {
  //   display: block;
  //   margin: 0 8px 0 0;
  //   padding: 0;
  //   font-size: 18px;
  //   line-height: 100%;

  //   @include font-inter-semibold;
  // }

  // &__price-old {
  //   font-size: 14px;
  //   line-height: 100%;
  //   text-decoration-line: line-through;
  //   color: $color-suva-grey;
  // }

  &__text {

    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }

  &__parametrs {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 24px 26px;
    background-color: $color-default-white;
    transition: opacity $trans-default;

    div:not(:last-child) {
      margin: 0 0 8px;
    }
  }

  &:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 133%;
    transition: box-shadow $trans-default;

    .sale-card__parametrs {
      display: block;
    }
  }
}
