.timer {
  width: 224px;
  background-color: $color-light-grey;

  &__wrapper {
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    color: $color-default-black;
    margin: 0 0 14px 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__item:nth-child(n+1):nth-child(-n+2) {
    position: relative;

    &::after {
      content: ":";
      position: absolute;
      right: -12px;
      top: 12px;
      font-size: 17px;
      line-height: 100%;
      color: $color-night-rider;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52px;
    padding: 6px 9px 5px;
    background-color: $color-default-white;
    border: 1px solid $color-light-grey;
  }

  &__number {
    font-size: 16px;
    line-height: 100%;
    margin: 0 0 2px 0;
    min-width: 32px;
    text-align: center;
    color: $color-night-rider;
    border-radius: 7px;

    @include font-inter-bold;
  }

  &__name {
    font-size: 11px;
    line-height: 100%;
    color: $color-night-rider;

    @include font-inter-light;
  }
}
